@charset "UTF-8";

*{
    color: white;
}

body{
    padding: 0px;
    margin: 0px;
    background-color: black;
}

h1{
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    width: 250px;
    margin: 5px auto;
    padding: 5px;
    text-align: center;
}

h2{
    font-size: 70%;
    font-weight: normal;
    text-align: center;
    width: 300px;
    margin: auto;
}

a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 0px;
    margin-left: 10px;
}