@charset "UTF-8";

body{

}

#minimal{
    background-color: black;
    color: white;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

h1{
    border: 1px solid white;
    border-radius: 5px;
    width: 250px;
    margin: 0px auto;
    padding: 0px;
}