@charset "UTF-8";

body{
    padding: 0px;
    margin: 0px;
    background-color: black;
}

h1{
    color: white;
    border: 1px solid white;
    border-radius: 8px;
    width: 250px;
    margin: 5px auto;
    padding: 5px;
    text-align: center;
}